:root{
    --color-marron: rgb(87,53,22);
    --color-azul: rgb(54,160,164);
}

.dog-yellow{
    width: 300px;
}

.info-home{
    text-align: justify;
    text-justify: inter-word;
    font-size: larger;
    
}

.titulo-home{
    font-weight: bolder;
}

.text-stats{
    
    font-size: 2.0rem;

}

.cont-all{
    background-color: white;
    
}

.card-img{
    width: 100%;
   
}

.breed-img{
    width: 250px;
    height: 250px;
}

.botones-home{
    color: black;
    background-color: var(--color-azul);
    // font-weight: 900;
}

.logo-home{
    width: 500px;
}