// *{
//     background-color: bisque;
// }

.dog-yellow{
    width: 300px;
}

.info-home{
    text-align: justify;
    text-justify: inter-word;
}

.text-stats{
    
    font-size: 2.0rem;

}

.cont-all{
    background-color: white;
    
}

.card-img{
    width: 100%;
   
}

.breed-img{
    width: 250px;
    height: 250px;
}