/* 
    General Styles
*/
.loginContainer{
    height: 100vh;
    margin-bottom: 150px !important;
    .loginCard{
        max-width: 100% !important;
        flex-direction: row;
        min-height: 80% !important;
        .imagen{
            background-color: #0c0807;
            color: white;
            min-height: 100%;
        }
        .formulario{
            min-height: 100%;
        }
    }
}
.detallePerroContainer{
    padding-top: 50px;
    min-height: 80vh;
    max-width: 100% !important;
    margin-bottom: 50px;
}