:root{
    --color-marron: rgb(87,53,22);
    --color-azul: rgb(54,160,164);
}

.navbar{
    position: fixed;
    // top:0;
    right: 0;
    left: 0;
    transition: top 0.3s;
    
}

.navbar-hide{
    top: -50px;
}

.inactive {
    color: var(--color-marron) !important;
    // opacity: 0.6;
    text-decoration: none;
    font-weight: 900;
}

.selected {
    color: var(--color-azul) !important;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
}

.inactive:hover {
    outline: none;
    text-shadow: 1px 1px var(--color-azul);
    text-decoration: none;
   
}

.login{
    border-radius: 10%;
    background-color: var(--color-azul);
    color: white;
    font-weight: bolder;
    // opacity: 0.9; 
    
}

.login:hover { 
    outline: none;
    border-color: var(--color-marron);
    box-shadow: 0 0 20px var(--color-marron);
    text-decoration: none;
    color: black;
}

.logo{
    width:50px
}