.navbar{
    position: fixed;
    // top:0;
    right: 0;
    left: 0;
    transition: top 0.3s;
    
}

.navbar-hide{
    top: -50px;
}

.inactive {
    color: orange !important;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
}

.selected {
    color: red !important;
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
}

.inactive:hover {
    outline: none;
    text-shadow: 1px 1px rgb(245, 111, 245);
    text-decoration: none;
   
}



.login{
    border-radius: 10%;
    background-color: salmon;
    color: black;
    opacity: 0.9; 
    
}

.login:hover { 
    outline: none;
    border-color: rgb(245, 111, 245);
    box-shadow: 0 0 20px rgb(245, 111, 245);
    text-decoration: none;
    color: black;
}